.main__table{
	width: 100%;
}

.main___name-table{
	display: block;
}

.table__table-cell{
	padding: 5px;
}

.name-table{
	text-align: center;
}

.table__table-title{
	text-align: center;
	font-weight: bold;
}

.table__table-cell_center-text{
	text-align: center;
}