@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

*{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

body{
	background-color: #eee;
}

.main__card-block{
	width: 1170px;
	margin: 30px auto 30px;
}

.card{
	position: relative;
}

.card-block__card{
	width: 360px;
	margin: 0 15px;
	float: left;
}

.card__cirlce{
	display: block;
	position: absolute;
	width: 60px;
	height: 60px;
	background-color: #4d88ef;
	right: 15px;
	top: 320px;
	box-shadow: 0px 3px 5px gray;
	border-radius: 50%;
}

.card__cirlce_img{
	color: #fff;
	margin-top: 15px;
	margin-left: 15px;
 	font-size: 30px;
}

.card__cirlce_disable{
	display: none;
}

.card__pic{
	height: 350px;
	font-size: 200px;
	text-align: center;
	padding-top: 60px;
	box-sizing: border-box;
	border-radius:3px 3px 0px 0px;
}

.card__title{
	height: 100px;
	box-sizing: border-box;
	background-color: #fff;
	font-size: 30px;
	padding: 35px 20px 10px;
	box-shadow: 0px 3px 5px gray;
	border-radius:0px 0px 3px 3px;
}

.card__pic_color-green{
	background-color: #269f5d;
	color: #fff;
}

.card__pic_color-blue{
	background-color: #65c2dc;
	color: #000;
}

.card__pic_color-orange{
	background-color: #eebc40;
	color: #fff;
}