@font-face { 
	font-family: "Helvetica"; 
	src: url("helvetica_regular.otf"); 
} 

*{
	font-family: Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

.main__card{
	width: 600px;
	margin: 25px auto;
	padding: 11px 20px 64px;
}

.card{
	border: 4px solid #4a8ea8;
	border-radius: 12px;
	box-sizing: border-box;
	background-color: #dce8ee;
}

.card__date{
	font-size:39px;
	text-align: right;
}

.card__title{
	font-size:45px;
	margin-top: 35px;
	font-weight: bold;
	letter-spacing: 2px;
}

.card__content{
	font-size:40px;
	margin-top: 80px;
	letter-spacing: -0.7px;
	line-height: 40px;
}