@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
}

body{
	background: #ebebeb;
}

.form{
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 12px;
	color: #333;
}

.main__form{
	width: 700px;
	padding: 70px 105px;
	margin: 60px auto 20px;
}

.form__title{
	font-size: 36px;
	text-transform: uppercase;
	color: #333;
	font-weight: 600;
	letter-spacing: 1px;
}

.form__label{
	display: block;
	margin-top: 44px;
	margin-bottom: 15px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	color: #333;
}

.form__field{
	width: 100%;
	height: 69px;
	border: 1px solid #e6e6e6;
	color: #333;
	font-size: 30px;
	padding-left: 10px;
	border-radius: 3px;
	outline: none;
}

.form__field:focus{
	border: 1px solid #ccc;
}


.form__remember-me{
	margin-top: 20px;
	display: inline-block;
}

.form__remember-me-checkbox{
	width: 23px;
	height: 23px;
	margin: 0;
}

.form__remember-me-label{
	margin-left: 6px;
	vertical-align: top;
	color: #999;
}

.form__forgot-pass{
	margin-top: 20px;
	margin-left: 206px;
	vertical-align: top;
	text-decoration: none;
	display: inline-block;
}

.form__forgot-pass-link{
	text-decoration: none;
	color: #333;
	
}

.form__button{
	width: 190px;
	height: 65px;
	border-radius: 45px;
	border: 0;
	background-color: #333333;
	color: #fff;
	display: block;
	margin-top: 60px;
	font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.form__pass-view {
	display: block;
	position: absolute;
	top: 24px;
	right: 10px;
	color: #999;
}

.form__pass-view:hover{
	color: #333;
}

.form__pass-group{
	position: relative;
}





